{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/uniformme-nz.myshopify.com/products/configure/116384/edit
{% endcomment %}
{% if product.metafields.custom_fields["promotion_text"] != blank %}
  <div class="custom-field custom-field__promotion-text custom-field__type--text">
    <h3 class="custom-field--title">Promotion Badge</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["promotion_text"] }}
    </div>
  </div>
{% endif %}