    <!-- testimonial -->
    <!--<section class="testimonial-bg">
    <!-- testimonial starts -->
    <section class="main testimonial-bg">
      <div class="col-xs-12">
        <div class="container testimony">
          <div class="testimonial-slider">
            <div class="slide">
              <div class="testimonyInner">
                <h3>
                    'Fashion Uniforms are perceptive and they listen. They presented a great range of options and were able to tailor existing designs by tweaking the fit, changing trims and adding pockets.  The quality of the uniforms is excellent. There have been no issues with seams opening or zips breaking and I haven't had any complaints from staff. Our people are comfortable in the uniforms - the fabrics breathe and the designs don&rsquo;t restrict movement, which is important in the healthcare sector."
                </h3>
                <h4>Dauniika Mearns, Practice Manager, MacMurray Gastroenterology</h4>
              </div>
            </div>
            <div class="slide">
              <div class="testimonyInner">
                <h3>
                    "Our staff always look good and are proud to wear the Geneva uniform. The garments are durable because the quality is there from the start. I also like the personal approach Fashion Uniforms offer us. Our account manager understands our business and responds quickly to our requests.” <br/>
                </h3>
                <h4>Jayne Glenister, Team Leader Human Resources, Geneva Healthcare</h4>
              </div>
            </div>
            <div class="slide">
              <div class="testimonyInner">
                <h3>
                    "Recently we went through a brand refresh, which involved updating our uniform. We received a lot of good feedback from the stores about the new uniforms and the process was really straightforward. We’re a nationwide franchise business, so it’s really convenient the way our stores can order their uniforms directly from Fashion Uniforms."<br/><br/>
                </h3>
                <h4>Nick Moxon, Marketing Loyalty Coordinator, Paperplus</h4>
              </div>
            </div>
            <div class="slide">
              <div class="testimonyInner">
                <h3>
                    "I contacted Fashion Uniforms and after several brainstorming meetings we hit our current uniform. The design was flexible enough to be able to be tailored to all departments, giving a professional and executive look to our staff. Fashion Uniform helped us with the sizing of our staff and deliveries were clearly marked and timed. That was four years ago and the uniforms have stood the test of time and the original blouses are still in use and have not faded or lost freshness.”<br/><br/>
                </h3>
                <h4>Patsy Bell, Hastings City New World</h4>
              </div>
            </div>
            <div class="slide">
              <div class="testimonyInner">
                <h3>
                    "I work closely with our Fashion Uniforms account manager and she makes everything easy.  Nothing is ever a problem. We changed to Fashion Uniforms from another supplier and everyone likes what we’re wearing now. Recently we introduced a new maternity style, which has been a big success. We’ve also changed the colour of our support services uniform – a move made straightforward by our Fashion Uniforms account manager. Our uniform garments look good with minimal care - just wash, dry on a hanger and wear. No ironing required.”<br/>
                </h3>
                <h4>Rosemary Goodin, Taranaki District Health Board</h4>
              </div>
            </div>
            <div class="slide">
              <div class="testimonyInner">
                <h3>
                    "I'd worked with Fashion Uniforms when I was at my previous job and they'd always given me great service - really responsive and quick to understand what was required. When I moved to Auckland Kindergarten Association and we needed a new uniform for our KiNZ business, as part of a rebranding exercise, I was happy to work with Fashion Uniforms again. We identified an existing blouse design, made some adjustments to the pattern and chose a fabric, to get it just right. Our KiNZ childcare workers really like the uniform, particularly the soft shell jackets - they&rsquo;re a big hit."
                </h3>
                <h4>Sian Wilson, Marketing &amp; Digital Manager, Auckland Kindergarten Association</h4>
              </div>
            </div>
          </div>
        </div>
      <!--end slider-->
      </div>
    </section>
    <!--end events testimonials-->