.swatch_color_white{
  background-color: #FCF1F1;
}
.swatch_color_grey{
  background-color: #C5C4C4;
}
.swatch_color_black{
  background-color: #000;
}

.swatch_color_pink{
  background-color: #DEADFA;
}

.swatch_color_red{
  background-color: #F13D3D;
}