<!-- /templates/page.liquid -->
<div class="bannerImage-ourProcess">
    <div class="logoWrap-inner-process">
        <div class="processTop"><img alt="Top of scroll down arrow" src="{{ 'processArrowTop.png' | asset_url }}">
        </div>
        <div class="process"><img alt="Our Process" src="{{ 'our-process.png' | asset_url }}">
        </div>
        <div class="processBottom"><img alt="Scroll down arrow" src="{{ 'processArrowBottom.png' | asset_url }}">
        </div>
    </div>
</div>

{% section 'process-banners' %}

<section class="guarantee-bg">
    <div class="container guarantee">
        <h3> Our guarantee to you </h3>
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <p>
                    Long after the launch of your new uniforms, we'll still be beside you supporting your goals. We believe in building long-term relationships and stand by
                    our garments with a peace-of-mind guarantee. We also strive to deliver exceptional aftersales service, so you can expect us
                    to:
                    <br>
                    
                </p>
                
                
            </div>
            <div class="col-xs-6 col-sm-4">
                <ul>
                    
                    <li>Provide a 2-year guarantee on all garments</li>
                    <li>Honour our service agreement, which includes a delivery guarantee</li>
                    <li>Encourage and respond to feedback</li>
                    <li>Respond promptly and efficiently to the needs of your new staff and the changing needs of existing staff, such as maternity
                        or appointment to a role with a different uniform design
                    </li>
                </ul>
                
            </div>
            <div class="col-xs-6 col-sm-4">
                <ul>
                    <li>Stay in touch with you and what’s happening in your business</li>
                    <li>Review your uniform wearers’ requirements over time</li>
                    <li>Recommend upgrades that are appropriate for your business goals</li>
                    <li>Share our knowledge and highlight emerging trends </li>
                </ul>
                
            </div>
        </div>
    </div>
</section>


